<h1>Обслуживание</h1>
<div>
  <mat-divider style="margin-top: 20px; margin-bottom: 20px;"></mat-divider>

  <table mat-table [dataSource]="examinations" class="mat-elevation-z8"
         matSort matSortActive="date, icaoCode"
         matSortDisableClear matSortDirection="desc"
         (matSortChange)="applySort($event)">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header disableClear> Дата</th>
      <td mat-cell *matCellDef="let air"> {{air.date}} </td>
    </ng-container>


    <ng-container matColumnDef="icaoCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> ICAO самолёта</th>
      <td mat-cell *matCellDef="let air">{{air.icaoCode}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Описание</th>
      <td mat-cell *matCellDef="let air"> {{air.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    class="paginator"
    [length]="totalCount"
    [pageIndex]="page"
    [pageSize]="size"
    [pageSizeOptions]="[1, 4, 5, 6]"
    (page)="loadExamination($event)"
  ></mat-paginator>
</div>
