<div>
  <h2>Добавить аэропорт</h2>
  <form [formGroup]="addForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>ИКАО код</mat-label>
      <input matInput formControlName="icaoCode">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Страна</mat-label>
      <input matInput formControlName="country">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Город</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <div class="row">
      <button (click)="closeDialog()" class="w-50"
              mat-button mat-dialog-close disableRipple>
        Закрыть
      </button>
      <button color="primary" class="w-50" [disabled]="addForm.invalid" (click)="submit()" mat-button
              disableRipple>
        Добавить
      </button>
    </div>
  </form>
</div>
