<div *ngxPermissionsOnly="['ROLE_MANAGER', 'ROLE_SYSTEM', 'ROLE_DISPATCHER']">
  <br>
  <div class="container">
    <div class="fixed"><h1>Полёты</h1></div>
    <div class="rubbery" *ngxPermissionsOnly="['ROLE_MANAGER', 'ROLE_SYSTEM']">
      <button mat-flat-button color="primary" (click)="addFlight()">Создать новый полёт</button>
    </div>
    <button mat-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <br>
  <div *ngIf="changeStatus != ''">
    <div>
      <h2>Выбрать новый статус полёта для рейса номер {{changeStatus}}:</h2>
      <mat-radio-group class="w-100 radio-group" appearance="outline" [(ngModel)]="newStatus">
        <mat-radio-button class="radio-button" *ngFor="let o of enumValues(status)" [value]="o">{{o}}</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" (click)="submitChangeStatus()">
        Сменить
      </button>
      <button mat-raised-button color="primary" (click)="showChangeStatus('')">
        Отмена
      </button>
    </div>
  </div>
  <div *ngIf="isFlightsLoaded && isUserDataLoaded" class="index-page">
    <mat-card class="post-card" *ngFor="let flight of flights; let i = index">
      <mat-card>
        <mat-card-title>рейс номер {{flight.flightNumber}}</mat-card-title>
        <mat-card-subtitle>
          <div *ngIf="flight.regular===true; then regular else noRegular">
          </div>
          <ng-template #regular>
            регулярный
          </ng-template>
          <ng-template #noRegular>
            чартерный
          </ng-template>
        </mat-card-subtitle>
        <mat-card-content>
          Информация о самолёте <br>
          иата код самолёта: {{flight.icaoCode}}<br>
          загруженность, чел: {{flight.passengersCount}}<br>
          Информация о рейсе <br>
          Вылет из аэропорта {{flight.iataCodeArrival}}<br>
          Прилёт в аэропорт {{flight.iataCodeDeparture}}<br>
          Цена билета {{flight.ticketPrice}}$<br>
          Дата вылета {{flight.departure | date:'short'}}<br>
          Время в полёте {{flight.flightTime}}<br>
          Статус: {{flight.status}}<br>
          <p *ngIf="flight.flightNumberAltFlight != null">Альтернативный рейс:
            <button mat-button color="warn" [routerLink]="['/flights', flight.flightNumberAltFlight]">
              {{flight.flightNumberAltFlight}}</button>
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/flights', flight.flightNumber]">
            Всё о полёте
          </button>
          <div *ngxPermissionsOnly="['ROLE_MANAGER', 'ROLE_SYSTEM']">
            <button mat-raised-button color="primary"
                    (click)="checkDelivery(flight)">
              Кейтеринг
            </button>
            <br><br>
            <p *ngIf="flight.status ==='Создан' || flight.status ==='Готов к вылету' || flight.status ==='Вылетел'">
              <button mat-raised-button color="primary" (click)="showChangeStatus(flight.flightNumber)">
                Изменить статус
              </button>
              <button mat-raised-button color="primary" (click)="alternativeFlight(flight.flightNumber)">
                Выбрать альтернативный полёт
              </button>
            </p>
            <button *ngIf="flight.status === 'Выполнен' || flight.status === 'Отменён'" mat-raised-button
                    color="primary"
                    (click)="delete(flight.flightNumber)">
              Удалить
            </button>
          </div>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="query"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </mat-card>
  </div>
</div>

